<div id="outerdev" class="col-sm-6 mx-auto container my-3 align-item-center">
    <div *ngIf="items?.length > 0">
      <h3>Recent Blogs here...</h3>
    </div>
  
    <div *ngFor="let item of items" class="card mb-3 bg-warning p-3">
      <p class="font-weight-bold">{{ item.title }}</p>
      <p>{{ item.author }}</p>
      <p>{{ item.content | slice:0:10 }}<span><a [routerLink]="['blogs', item.id]">...more</a></span></p>
    </div>
  
    <div class="card mb-3 bg-warning p-3 text-center" *ngIf="items?.length === 0">
      <h3>No blogs here...</h3>
    </div>
  
    <br/>
  </div>
  